
body{
font-family: Arial, sans-serif;
background-color: #fff;
color: black;
transition: 0.9s;
}
body.dark{
    background-color: #121212;
    color: #fff;
}
button{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
}
body.dark button{
    background-color: #333;
    color: #fff;
}
#products{
    display:flex;
    flex-direction: row;
    gap: 15px
   
}
.pc{
     border: 1px solid;
     padding: 10px;
     margin: 10px;
}
#cart{
    display:flex;
    flex-direction: row;
    gap: 15px
       
}